{% extends "admin/change_list.html" %}
{% load staticfiles %}


{% block extrahead %}
<!-- <link rel="shortcut icon" href="/static/logo1.png" /> -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        window.onload = function () {
            ctx = document.getElementById("grades-chart");
            {% regroup cl.queryset|dictsort:"grade" by grade as grade_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for grade in grade_list %}'{{ grade.grouper }}',{% endfor %}],
                    datasets: [{
                        
                        data: [{% for grade in grade_list %}'{{ grade.list|length }}',{% endfor %}],
                        backgroundColor: [{% for grade in grade_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options:{
                legend: {
                              position: 'left'
                        },
                    title: {
                            display: true,
                            text: '1.Grade Analysis'
                        }
                   }
            });
            
               var ctx = document.getElementById("attendance-chart");
            {% regroup cl.queryset|dictsort:"attendance" by attendance as attendance_list %}
            var lineChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for attendance in attendance_list %}'{{ attendance.grouper }}',{% endfor %}],
                    datasets: [{
                        label: 'Attendance',
                        data: [{% for attendance in attendance_list %}'{{ attendance.list|length }}',{% endfor %}],
                        backgroundColor: [{% for attendance in attendance_list %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options:{
                legend: {
                              position: 'left'
                        },
                    title: {
                            display: true,
                            text: '2.Attendance Analysis'
                        }
                   }
            });
           
        }
        
    </script>
{% endblock %}
{% block content %}

<div id="content-main">
    
    <ul class="object-tools">
      
    
  
  
  
  <li><a href='/Student/result/import/' class="import_link">Import</a></li>
  
  
    
  
  
  
  <li><a href="/Student/result/export/?" class="export_link">Export</a></li> </ul>
      <h2> Analytics </h2>
 
    <hr>
    <div class="row">

        <div class="col-sm-4">
            <canvas id="grades-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="attendance-chart" style="width: 100px !important;"></canvas>
        </div>
    </div>
    {{ block.super }}
{% endblock %}